<% provide(:title, "Propebis | Empresas") %>
<%= render 'shared/notifications' %>

<div class="row wrapper border-bottom white-bg page-heading breadcrumbs-margin">
  <div class="col-lg-10">
    <h2>Empresas</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'static_pages', :action => 'home' %>">Home</a>
      </li>
      <li class="active">
        <strong>Empresas</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Empresas</h5>
        </div>
        <div class="ibox-content">
          <%= button_to 'Nueva Empresa', { action: 'new'}, method: :get, class: 'btn btn-w-m btn-primary' %>
          <div class='table-responsive'>
            <table class="table table-stripped table-bordered table-hover datatable">
              <thead>
                <tr>
                  <th align='center'>ID</th>
                  <th align='center'>Razón Social</th>
                  <th align='center'>RUC</th>
                  <th align='center'>Dirección de Facturación</th>
                  <th align='center'>Dirección de Entrega</th>
                  <th align='center'>Teléfono</th>
                  <th align='center'>Contacto</th>
                  <th align='center'>Activo</th>
                  <th align='center'>Editar</th>
                  <th align='center'>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <% @businesses.each do |business| %>
                  <tr>
                    <td align='center'><%= business.id %></td>
                    <td align='center'><%= business.name %></td>
                    <td align='center'><%= business.ruc %></td>
                    <td align='center'><%= business.billing_address %></td>
                    <td align='center'><%= business.delivery_address %></td>
                    <td align='center'><%= business.telephone %></td>
                    <td align='center'><%= business.contact %></td>
                    <td align='center'><%= human_boolean(business.active) %></td>
                    <td align='center'><%= button_to 'Editar', { action: 'edit', id: business.id}, method: :get, class: 'btn btn-w-m btn-warning btn-xs' %></td>
                    <td align='center'><%= button_to 'Eliminar', { action: 'destroy', id: business.id}, method: :delete,  data: { confirm: '¿Está seguro?' }, class: 'btn btn-w-m btn-danger btn-xs' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <!--Fin Ibox Content-->
      </div>
      <!--Fin Ibox-->
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      load_table_controls('datatable');
    });
  </script>
<% end %>
