<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @business.ruc %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @business.billing_address %>
</p>

<p>
  <strong>Delivery address:</strong>
  <%= @business.delivery_address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @business.telephone %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @business.contact %>
</p>

<p>
  <strong>Active:</strong>
  <%= @business.active %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
