<% provide(:title, "Editar Guía de Remisión | Propebis") %>
<% content_for :header do -%>
  <%= javascript_include_tag 'remission_guides' %>
  <%= stylesheet_link_tag 'remission_guides' %>
<% end -%>
<h1>Editing Remission Guide</h1>

<%= render 'form' %>

<%= link_to 'Show', @remission_guide %> |
<%= link_to 'Back', remission_guides_path %>
