<% provide(:title, "Propebis | Guías de Remisión") %>

<div class="row wrapper border-bottom white-bg page-heading breadcrumbs-margin">
  
  <div class="col-lg-12">
    <h2>Guías de Remisión</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'static_pages', :action => 'home' %>">Inicio</a>
      </li>
      <li class="active">
        <strong>Guías de Remisión</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight no-padding">
  <%= render 'shared/notifications' %>
  <div class="row breadcrumbs-margin">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Guías de Remisión</h5>
        </div>
        <div class="ibox-content">
          <%= button_to 'Nueva Guía de Remisión', { action: 'new'}, method: :get, class: 'btn btn-w-m btn-primary' %>
          <div class='table-responsive'>
            <table class="table table-stripped table-bordered table-hover datatable">
              <thead>
                <tr>
                  <th align='center'>Eḿpresa</th>
                  <th align='center'>Cliente</th>
                  <th align='center'>Transportista</th>
                  <th align='center'>Vehículo</th>
                  <th align='center'>Nro. Orden de Venta</th>
                  <th align='center'>Nro. Guía de Remisión</th>
                  <th align='center'>Punto de Partida</th>
                  <th align='center'>Punto Final</th>
                  <th align='center'>Fecha</th>
                  <th align='center'>Monto Final</th>
                  <th align='center'>Imprimir</th>
                  <th align='center'>Ver</th>
                  <th align='center'>Editar</th>
                  <th align='center'>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <% @remission_guides.each do |remission_guide| %>
                  <tr>
                    <td align="center"><%= Business.find(remission_guide.business_id).name %></td>
                    <td align="center"><%= Client.find(remission_guide.client_id).name %></td>
                    <td align="center"><%= Driver.find(remission_guide.driver_id).name %></td>
                    <td align="center"><%= Vehicle.find(remission_guide.vehicle_id).plate %></td>
                    <td align="center"><%= SalesOrder.find(remission_guide.sales_order_id).sales_order_number %></td>
                    <td align="center"><%= remission_guide.remission_guide_number %></td>
                    <td align="center"><%= remission_guide.initial_point %></td>
                    <td align="center"><%= remission_guide.final_point %></td>
                    <td align="center"><%= remission_guide.date %></td>
                    <td align="center"><%= remission_guide.ammount %></td>
                    <td align="center">
                      <%= link_to 'Imprimir A4',{ action: 'print_document', id: remission_guide.id, format: 'pdf', size: 'A4', exo: '0'}, class: 'btn btn-w-m btn-success btn-xs', target: "_blank" %>
                      <%= link_to 'Imprimir Legal',{ action: 'print_document', id: remission_guide.id, format: 'pdf', size: 'LEGAL', exo: '0'}, class: 'btn btn-w-m btn-success btn-xs', target: "_blank" %>
                    </td>
                    <td align="center"><%= link_to 'Ver', { action: 'show', id: remission_guide.id},class: 'btn btn-w-m btn-success btn-xs' %></td>
                    <td align="center"><%= link_to 'Editar', { action: 'edit', id: remission_guide.id},class: 'btn btn-w-m btn-warning btn-xs' %></td>
                    <td align="center"><%= link_to 'Eliminar', { action: 'destroy', id: remission_guide.id}, method: :delete,  data: { confirm: '¿Está seguro?' }, class: 'btn btn-w-m btn-danger btn-xs' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          
        </div>
        <!--Fin Ibox Content-->
      </div>
      <!--Fin Ibox-->
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      load_table_controls('datatable','Guías de Remisión');
    });
  </script>
<% end %>