<% provide(:title, "Propebis | Registrarse") %>

<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">IN+</h1>
    </div>
    <h3>Register to IN+</h3>
    <p>Create account to see it in action.</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: 'Nombre Completo', autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_field :username, placeholder: 'Nombre de Usuario', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, placeholder: 'Correo electrónico', class: 'form-control' %>
      </div>
      <div class="form-group">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, placeholder:'Contraseña', autocomplete: "off", class: 'form-control' %>
        <%= f.password_field :password_confirmation, placeholder:'Confirmar Contraseña', autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Registrarse", class: 'btn btn-primary block full-width m-b' %>
      </div>
    <% end %>
      <p class="text-muted text-center"><small>¿Ya tienes una cuenta?</small></p>
      <%= link_to "Login", unauthenticated_root_path, class: "btn btn-sm btn-white btn-block" %>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>