<tr>
  <td>
  	<%= f.collection_select :product_id, Product.order(:name), :id, :name, options = { prompt: 'Seleccione un Producto'}, html_options = {class: 'product_select select2_demo_1 form-control'} %>
  </td>
  <td>
  	<%= text_field '#', 'unit_of_measurement', class: 'unit_of_measurement form-control', readonly: true %>
  </td>
  <td>
  	<%= f.number_field :quantity, class: 'pod_quantity form-control', step: :any %>
  </td>
  <td>
    <% if can? :manage, :all%>
    <%= f.number_field :pending, class: 'pod_pending form-control', step: :any%>
    <% else %>
    <%= f.number_field :pending, class: 'pod_pending form-control', step: :any, readonly: true %>
    <% end %>
  </td>
  <td>
  	<%= f.number_field :unit_price, class: 'pod_unit_price form-control', step: :any %>
  </td>
  <td>
  	<%= f.number_field :subtotal, class: 'pod_subtotal form-control', step: :any, readonly: true %>
  </td>
  <td align='center'>
  	<%= f.hidden_field :_destroy %>
    <button class="btn btn-danger btn-circle remove_row_fields" type="button">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>