<%= form_for(@product_lot, html: {class: 'form-horizontal'}) do |f| %>
  <%= form_errors_for @product_lot %>

  <div class= "<%= field_class(@product_lot, :product_id) %>">
    <%= f.label :product_id, 'Producto', class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.collection_select :product_id, Product.order(:name), :id, :name, options = {  :prompt => 'Seleccione un Producto'}, html_options = { class: 'select2_demo_1 form-control', autofocus: true } %>
    </div>
  </div>
  <div class= "<%= field_class(@product_lot, :quantity) %>">
    <%= f.label :quantity, "Cantidad", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.number_field :quantity, placeholder: '0', class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@product_lot, :sanitary_registry) %>">
    <%= f.label :sanitary_registry, "Registro Sanitario", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>     
      <%= f.text_field :sanitary_registry, placeholder: 'Registro Sanitario', class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@product_lot, :lot_number) %>">
    <%= f.label :lot_number, "Lote de Producto", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :lot_number, placeholder: 'Lote de Producto', class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@product_lot, :due_date) %>">
    <%= f.label :due_date, "Fecha de Vencimiento", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>  
      <div class="input-group date">
        <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </span>
        <%= f.text_field :due_date, placeholder: 'Fecha de Vencimiento', class: 'form-control' %>
      </div>
    </div>  
  </div>
  <div class= "<%= field_class(@product_lot, :production_date) %>">
    <%= f.label :production_date, "Fecha de Producción", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <div class="input-group date">
        <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </span>
        <%= f.text_field :production_date, placeholder: 'Fecha de Producción', class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary block m-b'%>
  </div>
<% end %>

<% content_for :javascript do -%>
  <%= javascript_include_tag 'product_lots' %>
<% end -%>
