<% provide(:title, "Propebis | Buscar Lotes por Vencer") %>
<p id="notice"><%= notice %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Buscar Lotes de Producto por Vencer</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'static_pages', :action => 'home' %>">Home</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'product_lots', :action => 'index' %>">Almacén</a>
      </li>
      <li class="active">
        <strong>Buscar Lotes de Producto por Vencer</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
  	<div class="col-lg-12">
      <div class="ibox float-e-margins">
     	  <div class="ibox-title">
    	    <h3>Buscar Lotes de Producto por Vencer</h3>
    	  </div>
    	  <div class="ibox-content clearfix">
    	  	<div class='col-lg-12'>
    	  	  <%= form_tag search_lots_close_to_expire_front_product_lots_path,class: 'form-horizontal', method: 'get' do %>
			    <%= label_tag :search, 'Fecha de Vencimiento:', class: 'col-lg-2 control-label no-padding align-left' %>
			    <div class="col-lg-4 no-padding">
			      <%= text_field_tag :search, params[:search], id: 'search_by_date', class: 'form-control' %>
			    </div>
  				<div class="col-lg-3">
			      <%= submit_tag "Search", name: nil, class: 'btn btn-w-m btn-success search_by_date_button' %>
			  	</div>
			  <% end %>
			</div>
    		<div id='content' class='table-responsive col-lg-12'>
           
    		</div>
    		<%= button_to 'Volver', { action: 'index'}, method: :get, class: 'btn btn-w-m btn-info' %>
    	  </div>
        <!-- Fin de icontent -->
      </div>
	  </div>
  </div>	
</div>	