<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @product_lot.quantity %>
</p>

<p>
  <strong>Sanitary registry:</strong>
  <%= @product_lot.sanitary_registry %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @product_lot.due_date %>
</p>

<p>
  <strong>Lot number:</strong>
  <%= @product_lot.lot_number %>
</p>

<p>
  <strong>Production date:</strong>
  <%= @product_lot.production_date %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_lot.product %>
</p>

<%= link_to 'Edit', edit_product_lot_path(@product_lot) %> |
<%= link_to 'Back', product_lots_path %>
