<% provide(:title, "Propebis | Usuarios") %>
<p id="notice"><%= notice %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Usuarios</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'static_pages', :action => 'home' %>">Home</a>
      </li>
      <li class="active">
        <strong>Usuarios</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Usuarios</h5>
        </div>
        <div class="ibox-content">
          <%= button_to 'Nuevo Usuario', { action: 'new'}, method: :get, class: 'btn btn-w-m btn-primary' %>
          <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar">
          <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="25" data-filter=#filter>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Nombre de Usuario</th>
                <th>e-mail</th>
                <th>Rol</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td class="center"><%= user.name %></td>
                  <td class="center"><%= user.username %></td>
                  <td class="center"><%= user.email %></td>
                  <td class="center"><%= user.roles_mask %></td>
                  <td class="center"><%= button_to 'Editar', { action: 'edit', id: user.id}, method: :get, class: 'btn btn-w-m btn-warning btn-xs' %></td>
                  <td class="center"><%= button_to 'Eliminar', { action: 'destroy', id: user.id}, method: :delete,  data: { confirm: 'Are you sure?' }, class: 'btn btn-w-m btn-danger btn-xs' %></td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan='5'>
                  <ul class="pagination pull-right"></ul>
                </td>
              </tr>
            </tfoot>
          </table>
          
        </div>
        <!--Fin Ibox Content-->
      </div>
      <!--Fin Ibox-->
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      $('.footable').footable();
      $('.footable2').footable();
    });
  </script>
<% end %>
