<%= form_for(@vehicle, html: {class: 'form-horizontal'}) do |f| %>
  <%= form_errors_for @vehicle %>

  <div class= "<%= field_class(@vehicle, :plate) %>">
    <%= f.label :plate, "Placa", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :plate, placeholder: "Placa", class: 'form-control'  %>
    </div>
  </div>
  <div class= "<%= field_class(@vehicle, :trademark) %>">
    <%= f.label :trademark, "Marca", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :trademark, placeholder: "Marca", class: 'form-control'  %>
    </div>
  </div>
  <div class= "<%= field_class(@vehicle, :capacity) %>">
    <%= f.label :capacity, "Capacidad", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :capacity, placeholder: "Capacidad", class: 'form-control'  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary block m-b' %>
  </div>
<% end %>
