<%= form_for(@vehicle, html: {class: 'form-horizontal'}) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :plate, "Placa", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :plate, placeholder: "Placa", class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :trademark, "Marca", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :trademark, placeholder: "Marca", class: 'form-control'  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary block m-b' %>
  </div>
<% end %>
