<%= form_for(@product, html: {class: 'form-horizontal'}) do |f| %>
  <%= form_errors_for @product %>

  <div class= "<%= field_class(@product, :name) %>">
    <%= f.label :name, "Nombre del Producto", class: 'col-lg-4 control-label'  %>
    <div class='col-lg-8'>
      <%= f.text_field :name, autofocus: true, placeholder: 'Nombre del Producto', class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@product, :category_id) %>">
    <%= f.label :category_id, 'Categoŕía', class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.collection_select :category_id, Category.order(:name), :id, :name , options = {  :prompt => 'Seleccione una Categoŕía'}, html_options = { class: 'select2_demo_1 form-control' } %>
    </div>
  </div>
  <div class= "<%= field_class(@product, :unit_of_measurement) %>">
    <%= f.label :unit_of_measurement, "Unidad de Medida", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :unit_of_measurement, placeholder: 'Unidad de Medida', class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@product, :description) %>">
    <%= f.label :description, "Descripción", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :description, placeholder: 'Descripción', class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@product, :trademark) %>">
    <%= f.label :trademark, "Marca", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :trademark, placeholder: 'Marca', class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary block m-b' %>
  </div>
<% end %>

 