<%= form_for(@product, html: {class: 'form-horizontal'}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre del Producto", class: 'col-lg-4 control-label'  %>
    <div class='col-lg-8'>
      <%= f.text_field :name, autofocus: true, placeholder: 'Nombre del Producto', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category_id, 'Categoŕía', class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.collection_select :category_id, Category.order(:name), :id, :name , options = {  :prompt => 'Seleccione una Categoŕía'}, html_options = { class: 'select2_demo_1 form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :unit_of_measurement, "Unidad de Medida", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :unit_of_measurement, placeholder: 'Unidad de Medida', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descripción", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :description, placeholder: 'Descripción', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :trademark, "Marca", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :trademark, placeholder: 'Marca', class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary block m-b' %>
  </div>
<% end %>

 