<%= form_for(@supplier, html: {class: 'form-horizontal'}) do |f| %>
  <%= form_errors_for @supplier %>

  <div class= "<%= field_class(@supplier, :name) %>">
    <%= f.label :name, "Nombre del Proveedor", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :name, autofocus: true, placeholder: 'Nombre del Proveedor', class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@supplier, :ruc) %>">
    <%= f.label :ruc, "RUC", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :ruc, placeholder: 'RUC', class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@supplier, :address) %>">
    <%= f.label :address, "Dirección", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :address, placeholder: "Dirección", class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@supplier, :telephone) %>">
    <%= f.label :telephone, "Teléfono", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :telephone, placeholder: "Teléfono", class: 'form-control' %>
    </div>
  </div>
  <div class= "<%= field_class(@supplier, :contact) %>">
    <%= f.label :contact, "Contacto", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= f.text_field :contact, placeholder: 'Contacto', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :active, 'Activo', class: 'col-lg-4 col-md-4 col-sm-4 col-xs-8 control-label' %>
    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
      <%= check_box_tag '#', value='1', checked= true, options = { id: 'chk_active',class: 'checkbox', readonly: true} %>
      <%= f.hidden_field :active %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary block m-b' %>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      $('.checkbox').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
      });
    });
  </script>
<% end %>
