<%= form_for(@supplier, html: {class: 'form-horizontal'}) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre del Proveedor", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :name, autofocus: true, placeholder: 'Nombre del Proveedor', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ruc, "RUC", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :ruc, placeholder: 'RUC', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, "Dirección", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :address, placeholder: "Dirección", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telephone, "Teléfono", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :telephone, placeholder: "Teléfono", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contact, "Contacto", class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.text_field :contact, placeholder: 'Contacto', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :active, 'Activo', class: 'col-lg-4 control-label' %>
    <div class='col-lg-8'>
      <%= f.check_box :active %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary block m-b' %>
  </div>
<% end %>
