<%= form_for ([:contract, @addendum]), html: { multipart: true } do |f| %>
  <%= form_errors_for @addendum %>

  <div class="row">
    <div class= "<%= field_class(@addendum, :contract_id) %> col-lg-6">
      <%= f.hidden_field :contract_id %>
      <label class='control-label'>Contrato</label>
      <%= text_field '*', 'contract_number', class: 'form-control contract_number', readonly: true %>
    </div>
  </div>
  <div class="row">
    <div class= "<%= field_class(@addendum, :addendum_number) %> col-lg-6">
      <%= f.label :addendum_number, 'Nro. de Adenda', class: 'control-label' %>
      <%= f.text_field :addendum_number, placeholder: 'Nro. de Adenda', class: 'form-control' %>
    </div>
    <div class= "<%= field_class(@addendum, :date) %> col-lg-6">
      <%= f.label :date, 'Fecha', class: 'control-label' %>
      <%= f.text_field :date, placeholder: @today, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class= "<%= field_class(@addendum, :ammount) %> col-lg-3">
      <%= f.label :ammount, 'Monto Final', class: 'control-label' %>
      <%= f.number_field :ammount, placeholder: 0, class: 'form-control', readonly: true, step: :any %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>Productos</h3>
      <table class="footable table table-stripped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Unidad de Medida</th>
            <th>Cantidad</th>
            <th>P. Unit</th>
            <th>Subtotal</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :addendum_details do |builder| %>
            <%= render 'addendum_detail_fields', f: builder %>
          <% end %>
        </tbody>
      </table>
      <div class= 'details'>
        <%= link_to_add_row_fields "Añadir Producto", f, :addendum_details %>
      </div>
    </div>
  </div>
  <div class= "attachments">
    <h3>Documentos Adjuntos</h3>
    <%= f.fields_for :addendum_documents do |pod| %>  
      <%= render 'addendum_document_fields', f: pod %> 
    <% end %>
    <%= link_to_add_fields "Añadir Documento", f, :addendum_documents %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary block m-b' %>
  </div>
<% end %>

<%= javascript_tag "products = #{@products.to_json.html_safe};" %>
<%= javascript_tag "contract = #{@contract.to_json.html_safe};" %>