<% provide(:title, "Editar Orden de Venta | Propebis") %>
<% content_for :header do -%>
  <%= javascript_include_tag 'sales_orders' %>
  <%= stylesheet_link_tag 'purchase_orders' %>
<% end -%>
<h1>Editing Sales Order</h1>

<%= render 'form' %>

<%= link_to 'Show', @sales_order %> |
<%= link_to 'Back', sales_orders_path %>
