<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold"><%= current_user.name %></strong>
              </span> <span class="text-muted text-xs block">Nombre del Rol<b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <%= link_to "Editar Perfil", edit_user_path(current_user.id) %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li class="<%= 'active' if current_page?('/') %>">
        <%= link_to "/" do %>
          <i class="fa fa-home"></i> <span class="nav-label">Main page</span>
        <% end %>
      </li>
    <% if can? :manage, :all %>
      <li class="<%= is_active_controller('users') %>">
        <%= link_to users_path  do %>
          <i class="fa fa-user"></i> <span class="nav-label">Usuarios</span>
        <% end %>
      </li>
    <% end %>
      <li class="<%= is_active_mantenimiento() %>">
        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Mantenimiento</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_mantenimiento() %>">
          <li class="<%= is_active_controller('businesses') %>">
            <%= link_to 'Empresas', businesses_path %>
          </li>
          <li class="<%= is_active_controller('suppliers') %>">
            <%= link_to 'Proveedores', suppliers_path %>
          </li>
          <li class="<%= is_active_controller('categories') %>">
            <%= link_to 'Categorias de Producto', categories_path %>
          </li>
          <li class="<%= is_active_controller('products') %>">
            <%= link_to 'Productos', products_path %>
          </li>
          <li class="<%= is_active_controller('clients') %>">
            <%= link_to 'Clientes', clients_path %>
          </li>
          <li class="<%= is_active_controller('vehicles') %>">
            <%= link_to 'Vehículos', vehicles_path %>
          </li>
          <li class="<%= is_active_controller('drivers') %>">
            <%= link_to 'Transportistas', drivers_path %>
          </li>
        </ul>
      </li> 
      <li class="<%= is_active_controller('product_lots') %>">
        <%= link_to product_lots_path  do %>
          <i class="fa fa-cubes"></i> <span class="nav-label">Almacén</span>
        <% end %>
      </li>
      <li class="<%= is_active_compras() %>">
        <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">Compras</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_compras() %>">
          <li class="<%= is_active_controller('purchase_orders') %>">
            <%= link_to 'Órdenes de Compra', purchase_orders_path %>
          </li>
        </ul>
      </li>
      <li class="<%= is_active_controller('contracts') %>">
        <%= link_to contracts_path  do %>
          <i class="fa fa-handshake-o"></i> <span class="nav-label">Contratos</span>
        <% end %>
      </li>
      <li class="<%= is_active_ventas() %>">
        <a href="#"><i class="fa fa-calculator"></i> <span class="nav-label">Ventas</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_ventas() %>">
          <li class="<%= is_active_controller('sales_orders') %>">
            <%= link_to 'Órdenes de Venta', sales_orders_path %>
          </li>
          <li class="<%= is_active_controller('invoices') %>">
            <%= link_to 'Facturas', invoices_path %>
          </li>
        </ul>
      </li>
      <li class="<%= is_active_despacho() %>">
        <a href="#"><i class="fa fa-calculator"></i> <span class="nav-label">Despacho</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_ventas() %>">
          <li class="<%= is_active_controller('remission_guides') %>">
            <%= link_to 'Guías de Remisión', remission_guides_path %>
          </li>
          <li class="<%= is_active_controller('control_guides') %>">
            <%= link_to 'Guías de Remisión Interna', control_guides_path %>
          </li>
        </ul>
      </li>
      <% if can? :manage, :all %>
        <li class="<%= is_active_controller('settings') %>">
          <%= link_to settings_path  do %>
            <i class="fa fa-cog"></i> <span class="nav-label">Configuración</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>