<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :header %>
    <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_page?(unauthenticated_root_path) || current_page?('/users/sign_up') %>
    <% if user_signed_in? %>
	  Logged in as <strong><%= current_user.name %><strong>.
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete   %>
 	<% else %>
 	  <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
 	<% end %>
 	<br>
  <% end %>
	
<%= yield %>
</body>
</html>
